body {
    font-family: 'Roboto', sans-serif;
    background-color: #353A3E;
    color: #FFFFFF;
}

h1 {
    font-weight: 700;
    font-size: 3vw;
    margin: 0px;
    text-transform: uppercase;
    position: absolute;
    left: 1vw;
    top: 1vw;
}

h1 .sub-title {
    font-weight: 500;
    font-size: 0.6vw;
    display: block;
}

.logo {
    text-align: right;
    position: absolute;
    bottom: 20vh;
    right: 0px;
    width: 8%;
}
.logo img {
    width: 100%;
}

.spotligth {
    padding: 15vh 0px;
    height: 50vh;
    text-align: center;
}

.ticker {
    height: 20vh;
    background-color: #FFFFFF;
    color: black;
    overflow: hidden;
}
.ticker-container .box {
    float: left;
    margin-top: 3vh;
    padding: 0 10px;
    border-right-color: #353A3E;
    border-right-style: solid;
}
.ticker-container :last-child {
    border-right-style: none;
}

.label-container,
.value {
    float: left;
    padding: 0px;
}

.value {
    font-weight: 700;
    font-size: 80px;
    display: block;
    color: #F25C05;
}

.label-container {
    line-height: 27px;
    padding: 20px 20px 0px 0px;
}

.label-container h3{
    font-weight: 700;
    text-transform: uppercase;
}

.ticker-container {
    height: 20vh;
    margin-left:110%;
    animation: move_eye 60s linear 0s normal;
    -webkit-animation: move_eye 60s linear 0s normal;
    -moz-animation: move_eye 60s linear 0s normal;
    -o-animation: move_eye 60s linear 0s normal;
    width: 8000px;
}

h2 {
    color: #C3C90D;
    font-size: 10vw;
    font-weight: 700;
    margin: 0px;
    line-height: 16vw;
}

h3 {
    font-size: 2vw;
    margin: 0px;
    font-weight: 400;
}

.spotligth .box {
    display: inline-block;
    border: 2px solid #42484C;
    margin: 1.8vw 0.4vw;
    min-width: 25vw;
}
.spotligth .box h4 {
    text-transform: uppercase;
    font-size: 1vw;
    background-color: #42484C;
    padding: 0.25vw 0.5vw;
    margin: 0px;
    font-weight: 400;
    text-align: left;
}
.spotligth .box span {
    display: block;
    font-size: 1.5vw;
    color: #1E9592;
    padding: 0.4vw 0.8vw;
    font-weight: 500;
    text-align: left;
}

@-webkit-keyframes move_eye {
    from {
        margin-left:110%;
    }
    to {
        margin-left:-100%;
    }
}


