<!DOCTYPE html>{% load static %}
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex, nofollow">
  <meta name="googlebot" content="noindex, nofollow">
  <link href="//fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <title>Mission Control Dashboard</title>
</head>
<body>
  <div class="container">
    <h1>
        MCD
        <span class="sub-title">MISSION CONTROL<br>DASHBOARD</span>
    </h1>
    <section class="spotligth"></section>
    <section class="logo">
      <img src="{% static 'svg/axiacore-white.svg' %}">
    </section>
    <section class="ticker">
      <div class="ticker-container"></div>
    </section>
  </div>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
  <script id="spotligth-template" type="text/x-handlebars-template">
  {% verbatim %}
    <h2>{{title}}</h2>
    <h3>{{title_label}}</h3>
    <div class="box">
      <h4>{{text_1_label}}</h4>
      <span>{{text_1}}</span>
    </div>
    <div class="box">
      <h4>{{text_2_label}}</h4>
      <span>{{text_2}}</span>
    </div>
    <div class="box">
      <h4>{{text_3_label}}</h4>
      <span>{{text_3}}</span>
    </div>
  {% endverbatim %}
  </script>
  <script id="ticker-template" type="text/x-handlebars-template">
  {% verbatim %}
    <div class="box">
      <div class="label-container">
        <h3>{{title}}</h3>
        <span>{{label}}</span>
      </div>
      <span class="value">{{value}}</span>
    </div>
  {% endverbatim %}
  </script>
  <script type="text/javascript">
  var interval;
  var spotligthTemplate = Handlebars.compile($('#spotligth-template').html());
  var tickerTemplate = Handlebars.compile($('#ticker-template').html());

  function renderSpotligth() {
    $.get('{% url 'spotligth' %}', function (response) {
      $('.spotligth').fadeOut(function () {
        $(this).html(spotligthTemplate(response)).fadeIn('slow');
      });
    });
  }

  function renderTicker() {
    clearInterval(interval);
    $.get('{% url 'ticker' %}', function (response) {
      $('.ticker-container').fadeOut(function () {
        html = '';
        $(response.list).each(function () {
          html += tickerTemplate(this);
        });
        $(this).html(html).fadeIn('slow', function() {
            var totalWidth = 0;
            $('.ticker-container .box').each(function(index, element) {
                totalWidth += $(element).outerWidth();
            });
            var lastSheet = document.styleSheets[document.styleSheets.length - 1];
            lastSheet.removeRule(lastSheet.cssRules.length - 1);
            lastSheet.insertRule("@-webkit-keyframes move_eye { from { margin-left:110%; } to {margin-left: -" + totalWidth + "px;} }", lastSheet.cssRules.length);
            $('.ticker-container').width(totalWidth);
            interval = setInterval(renderTicker, 60 * 1000);
        });
      });
    });
  }

  renderSpotligth();
  setInterval(renderSpotligth, 20 * 1000);

  renderTicker();
  </script>
</body>
</html>
