<h3>{{ obj.website }}</h3>
<div class="box">
    <h4>Sessions</h4>
    <span id="data-sessions"></span>
</div>
<div class="box">
    <h4>Users</h4>
    <span id="data-users"></span>
</div>
<div class="box">
    <h4>Pageviews</h4>
    <span id="data-pageviews"></span>
</div>

<div style="width: 80%; margin: 0 auto;">
    <canvas id="theChart"></canvas>
</div>

<script>

// Formats a number.
var formatNumber = function(num) {
    return num.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
};

gapi.analytics.ready(function() {
    gapi.analytics.auth.authorize({
        'serverAuth': {
            'access_token': '{{ ACCESS_TOKEN }}'
        }
    });

    var dataQuery = gapi.client.analytics.data.ga.get({
        'ids': 'ga:{{ obj.ga_view_id }}',
        'start-date': '30daysAgo',
        'end-date': 'today',
        'metrics': 'ga:sessions,ga:users,ga:pageviews'
    });
    dataQuery.execute(function (results) {
        var totals = results.totalsForAllResults;
        $('#data-sessions').text(formatNumber(totals['ga:sessions']));
        $('#data-users').text(formatNumber(totals['ga:users']));
        $('#data-pageviews').text(formatNumber(totals['ga:pageviews']));
    });

    var report = new gapi.analytics.report.Data({
        query: {
            'ids': 'ga:{{ obj.ga_view_id }}',
            'start-date': '30daysAgo',
            'end-date': 'today',
            'metrics': 'ga:sessions,ga:users,ga:pageviews',
            'dimensions': 'ga:date'
        }
    });
    report.on('success', function(results) {
        var ctx = document.getElementById('theChart').getContext('2d');
        var labels = results.rows.map(function(row) { return row[0]; });
        var sessions = results.rows.map(function(row) { return row[1]; });
        var users = results.rows.map(function(row) { return row[2]; });
        var pageviews = results.rows.map(function(row) { return row[3]; });
        var data = {
            labels : labels,
            datasets : [
              {
                label: 'Sessions',
                fillColor : 'rgba(255,0,0,0.5)',
                strokeColor : 'rgba(255,0,0,1)',
                pointColor : 'rgba(255,0,0,1)',
                pointStrokeColor : '#fff',
                data : sessions
              },
              {
                label: 'Users',
                fillColor : 'rgba(220,220,220,0.5)',
                strokeColor : 'rgba(220,220,220,1)',
                pointColor : 'rgba(220,220,220,1)',
                pointStrokeColor : '#fff',
                data : users
              },
              {
                label: 'Pageviews',
                fillColor : 'rgba(151,187,205,0.5)',
                strokeColor : 'rgba(151,187,205,1)',
                pointColor : 'rgba(151,187,205,1)',
                pointStrokeColor : '#fff',
                data : pageviews
              }
            ]
        };
        new Chart(ctx).Line(data, {
            animation: false,
            responsive: true,
            maintainAspectRatio: false
        });
    });
    report.execute();
});
</script>
