<h3>{{ obj.website_display }}</h3>
<div style="width: 80%; height: 200px; margin: 0 auto;">
    <canvas id="theChart"></canvas>
</div>
<div class="box">
    <h4>Pageviews</h4>
    <span id="data-pageviews" class="data-google"></span>
</div>
<div class="box">
    <h4>Sessions</h4>
    <span id="data-sessions" class="data-google"></span>
</div>
<div class="box">
    <h4>Users</h4>
    <span id="data-users" class="data-google"></span>
</div>
<script>
var formatNumber = function(num) {
    return num.replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
};

gapi.analytics.ready(function() {
    gapi.analytics.auth.authorize({
        'serverAuth': {
            'access_token': '{{ ACCESS_TOKEN }}'
        }
    });

    var dataQuery = gapi.client.analytics.data.ga.get({
        'ids': 'ga:{{ obj.ga_view_id }}',
        'start-date': '30daysAgo',
        'end-date': 'today',
        'metrics': 'ga:sessions,ga:users,ga:pageviews'
    });
    dataQuery.execute(function (results) {
        var totals = results.totalsForAllResults;
        $('#data-sessions').html('<div class="color"></div><div class="number">'+formatNumber(totals['ga:sessions'])+'</div>');
        $('#data-users').html('<div class="color"></div><div class="number">'+formatNumber(totals['ga:users'])+'</div>');
        $('#data-pageviews').html('<div class="color"></div><div class="number">'+formatNumber(totals['ga:pageviews'])+'</div>');
    });

    var report = new gapi.analytics.report.Data({
        query: {
            'ids': 'ga:{{ obj.ga_view_id }}',
            'start-date': '30daysAgo',
            'end-date': 'today',
            'metrics': 'ga:sessions,ga:users,ga:pageviews',
            'dimensions': 'ga:date'
        }
    });
    report.on('success', function(results) {
        var ctx = document.getElementById('theChart').getContext('2d');
        var labels = results.rows.map(function(row) { return ''; });
        var sessions = results.rows.map(function(row) { return row[1]; });
        var users = results.rows.map(function(row) { return row[2]; });
        var pageviews = results.rows.map(function(row) { return row[3]; });
        var data = {
            labels : labels,
            datasets : [
              {
                label: 'Pageviews',
                fillColor : 'rgba(255,237,25,0.6)',
                strokeColor : 'rgba(255,237,25,1)',
                pointColor : 'rgba(255,237,25,1)',
                pointStrokeColor : '#fff',
                data : pageviews
              },
              {
                label: 'Sessions',

                fillColor : 'rgba(242,22,62,0.6)',
                strokeColor : 'rgba(242,22,62,1)',
                pointColor : 'rgba(242,22,62,1)',

                pointStrokeColor : '#fff',
                data : sessions
              },
              {
                label: 'Users',
                fillColor : 'rgba(27,190,158,0.6)',
                strokeColor : 'rgba(27,190,158,1)',
                pointColor : 'rgba(27,190,158,1)',
                pointStrokeColor : '#fff',
                data : users
              }
            ]
        };
        new Chart(ctx).Line(data, {
            animation: false,
            showScale: false,
            showTooltips: false,
            responsive: true,
            maintainAspectRatio: false,
            pointDot: false
        });
    });
    report.execute();
});
</script>
